
body
{
text-align:center;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
background:linear-gradient(#7ee6ed 0%,#f7410f 100%);
}
#deku
{
magin: 500px;
height:500px;
width:500px;
}
p
{
font-size:20px;
font-family:cursive;
font-display: swap;
}